<center>
    <img src="https://internship.thesparksfoundation.info/assests/img/logo.png" width="300" alt="thesparksfoundation logo"  />
</center>

# The Sparks Foundation

## Task 2: Stock Market Prediction using Numerical and Textual Analysis

### By : Ashutosh Vyas

<b>Problem Statement:</b> Create a hybrid model for stock price/performance prediction using numerical analysis of historical stock prices, and sentimental analysis of news headlines.


<b>Stock to analyze and predict:</b> SENSEX (S&P BSE SENSEX)

## Importing Libraries
Lets import the following libraries that are required for the task:

<ul>
    <li> <b>warnings</b> </li>
    <li> <b>math</b> </li>
    <li> <b>pandas</b> </li>
    <li> <b>numpy (as np)</b> </li>
</ul>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import math
import pandas as pd
import numpy as np

<div id="about_dataset">
    <h2>About the dataset</h2>
    The news dataset <b>Times of India News Headlines</b> is a persistent historical archive of noteable events in the Indian subcontinent from start-2001 to end-2020, recorded in realtime by the journalists of India. It contains approximately 3.4 million events published by Times of India.
    <br>
    <br>
    Times Group as a news agency, reaches out a very wide audience across Asia and drawfs every other agency in the quantity of english articles published per day. The data can be accessed at <a href="https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/DPQMQH">Times of India News Headlines</a>.
    <br>
    <br>
    Due to the heavy daily volume over multiple years, this data offers a deep insight into Indian society, its priorities, events, issues and talking points and how they have unfolded over time. It is possible to chop this dataset into a smaller piece for a more focused analysis, based on one or more facets.
</div>

In [2]:
news_headlines = pd.read_csv("india-news-headlines.csv")
news_headlines

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...
3424062,20201231,city.jodhpur,Covid-19: Despite dip in cases; Rajasthan amon...
3424063,20201231,city.udaipur,Covid-19: Despite dip in cases; Rajasthan amon...
3424064,20201231,city.ajmer,Covid-19: Despite dip in cases; Rajasthan amon...
3424065,20201231,removed,Govt extends deadline for use of FASTag till F...
3424066,20201231,entertainment.bengali.movies.news,Celebs plan to party safely and responsibly on...

<div id="about_dataset">
    Since our Textual Analysis dataset containing news from Times of India News Headlines is only till 31st December 2020. 
    So we will assume today is 30th December 2020 and tomorrow is 31st December 2020. 
    <br>
    And we have to predict the stock price ((high+low+close)/3) and closing price of BSE index for tomorrow 31st December 2020.
    <br>
    <br>
    We will be using <b>yfinance</b> to extract the stock data of <b>BSE SENSEX</b> from <b>02/01/2001</b> to <b>31/12/2020</b>. The <b>BSE SENSEX</b> is a free-float market-weighted stock market index of 30 well-established and financially sound companies listed on the Bombay Stock Exchange.
</div>

In [3]:
import yfinance as yf
bse_data = yf.download('^BSESN', start='2001-01-02', end='2020-12-31')

[*********************100%***********************]  1 of 1 completed

In [4]:
bse_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-01-02,3953.219971,4028.570068,3929.370117,4018.879883,4018.879883,0
2001-01-03,3977.580078,4067.659912,3977.580078,4060.020020,4060.020020,0
2001-01-04,4180.970215,4180.970215,4109.549805,4115.370117,4115.370117,0
2001-01-05,4116.339844,4195.009766,4115.350098,4183.729980,4183.729980,0
2001-01-08,4164.759766,4206.720215,4101.529785,4120.430176,4120.430176,0

## Pre-processing

Using <b>reset_index</b> to reset the index of the DataFrame, and use the default one instead.

In [5]:
bse_data.reset_index(inplace=True)
bse_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2001-01-02,3953.219971,4028.570068,3929.370117,4018.879883,4018.879883,0
1,2001-01-03,3977.580078,4067.659912,3977.580078,4060.020020,4060.020020,0
2,2001-01-04,4180.970215,4180.970215,4109.549805,4115.370117,4115.370117,0
3,2001-01-05,4116.339844,4195.009766,4115.350098,4183.729980,4183.729980,0
4,2001-01-08,4164.759766,4206.720215,4101.529785,4120.430176,4120.430176,0

Using <b>dataframe.info()</b> to get a concise summary of both dataframes.

In [6]:
bse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4921 entries, 0 to 4920
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4921 non-null   datetime64[ns]
 1   Open       4921 non-null   float64
 2   High       4921 non-null   float64
 3   Low        4921 non-null   float64
 4   Close      4921 non-null   float64
 5   Adj Close  4921 non-null   float64
 6   Volume     4921 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 269.2 KB

In [7]:
news_headlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424067 entries, 0 to 3424066
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   publish_date       int64
 1   headline_category  object
 2   headline_text      object
dtypes: int64(1), object(2)
memory usage: 78.4+ MB

Using <b>dataframe.isna().any()</b> to checking both dataframes for any null values

In [8]:
bse_data.isna().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [9]:
news_headlines.isna().any()

publish_date         False
headline_category    False
headline_text        False
dtype: bool

### BSESN Data

<ul>
    <li>Dropping duplicates in <b>bse_data</b></li>
    <li>Coverting the datatype of column <b>Date</b> from type <b>object</b> to type <b>datetime</b></li>
    <li>Filtering the important columns i.e. <b>Date, Close, Open, High, Low</b> and <b>Volume</b></li>
    <li>Setting column <b>Date</b> as the index column</li>
    <li>Sorting <b>bse_data</b> according to <b>Date</b></li>
</ul>

In [10]:
bse_data = bse_data.drop_duplicates()

bse_data['Date'] = pd.to_datetime(bse_data['Date']).dt.normalize()

bse_data = bse_data.filter(['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])

bse_data.set_index('Date', inplace= True)

bse_data = bse_data.sort_index(ascending=True, axis=0)
bse_data

                   Close          Open          High           Low  Volume
Date
2001-01-02   4018.879883   3953.219971   4028.570068   3929.370117       0
2001-01-03   4060.020020   3977.580078   4067.659912   3977.580078       0
2001-01-04   4115.370117   4180.970215   4180.970215   4109.549805       0
2001-01-05   4183.729980   4116.339844   4195.009766   4115.350098       0
2001-01-08   4120.430176   4164.759766   4206.720215   4101.529785       0
...                  ...           ...           ...           ...     ...
2020-12-23  46444.179688  46072.300781  46513.320312  45899.101562   10500
2020-12-24  46973.539062  46743.488281  47053.398438  46539.019531   13700
2020-12-28  47353.750000  47153.589844  47406.718750  47148.238281    9600
2020-12-29  47613.078125  47466.621094  47714.550781  47361.898438   12800
2020-12-30  47746.218750  47789.031250  47807.851562  47358.359375   15600

[4921 rows x 5 columns]

### News Headlines

<ul>
    <li>Dropping duplicates in <b>news_headlines</b></li>
    <li>Coverting the datatype of column <b>Date</b> from type <b>object</b> to type <b>datetime</b></li>
    <li>Filtering the important columns i.e. <b>publish_date</b> and <b>headline_text</b></li>
    <li>Grouping the news headlines according to <b>Date</b></li>
    <li>Setting column <b>Date</b> as the index column</li>
    <li>Sorting <b>news_headlines</b> according to <b>Date</b></li>
</ul>

In [11]:
news_headlines = news_headlines.drop_duplicates()

news_headlines['publish_date'] = news_headlines['publish_date'].astype(str)
news_headlines['publish_date'] = news_headlines['publish_date'].apply(lambda x: x[0:4]+'-'+x[4:6]+'-'+x[6:8])
news_headlines['publish_date'] = pd.to_datetime(news_headlines['publish_date']).dt.normalize()

news_headlines = news_headlines.filter(['publish_date', 'headline_text'])

news_headlines = news_headlines.groupby(['publish_date'])['headline_text'].apply(lambda x: ','.join(x)).reset_index()

news_headlines.set_index('publish_date', inplace= True)

news_headlines = news_headlines.sort_index(ascending=True, axis=0)
news_headlines

                                                  headline_text
publish_date
2001-01-02    Status quo will not be disturbed at Ayodhya; s...
2001-01-03    Powerless north India gropes in the dark,Think...
2001-01-04    The string that pulled Stephen Hawking to Indi...
2001-01-05    Light combat craft takes India into club class...
2001-01-06    Light combat craft takes India into club class...
...                                                         ...
2020-12-27    #BigInterview! Dhritiman Chatterjee: Nobody da...
2020-12-28    Horoscope Today; 28 December 2020: Check astro...
2020-12-29    Man recovers charred remains of 'thief' from h...
2020-12-30    Numerology Readings 30 December 2020: Predicti...
2020-12-31    Horoscope Today; 31 December 2020: Check astro...

[7262 rows x 1 columns]

### Combining both Prices and Headlines

<ul>
    <li>Concatenating the datasets: <b>bse_data</b> and <b>news_headlines</b></li>
    <li>Displaying the combined <b>stock_data</b></li>
</ul>

In [12]:
stock_data = pd.concat([bse_data, news_headlines], axis=1)

stock_data.dropna(axis=0, inplace=True)

stock_data

,Close,Open,High,Low,Volume,headline_text
2001-01-02,4018.879883,3953.219971,4028.570068,3929.370117,0.0,Status quo will not be disturbed at Ayodhya; s...
2001-01-03,4060.020020,3977.580078,4067.659912,3977.580078,0.0,"Powerless north India gropes in the dark,Think..."
2001-01-04,4115.370117,4180.970215,4180.970215,4109.549805,0.0,The string that pulled Stephen Hawking to Indi...
2001-01-05,4183.729980,4116.339844,4195.009766,4115.350098,0.0,Light combat craft takes India into club class...
2001-01-08,4120.430176,4164.759766,4206.720215,4101.529785,0.0,"Sangh Parivar; Babri panel up the ante,Frontru..."
...,...,...,...,...,...,...
2020-12-23,46444.179688,46072.300781,46513.320312,45899.101562,10500.0,"Sawmill in Makarpura GIDC gutted; none hurt,Ci..."
2020-12-24,46973.539062,46743.488281,47053.398438,46539.019531,13700.0,How to set the mood for sex during cold winter...
2020-12-28,47353.750000,47153.589844,47406.718750,47148.238281,9600.0,Horoscope Today; 28 December 2020: Check astro...
2020-12-29,47613.078125,47466.621094,47714.550781,47361.898438,12800.0,Man recovers charred remains of 'thief' from h...
2020-12-30,47746.218750,47789.031250,47807.851562,47358.359375,15600.0,Numerology Readings 30 December 2020: Predicti...

Adding new columns: <b>[compound, negative, neutral, positive]</b> to <b>stock_data</b> to perform Sentiment Analysis

In [13]:
stock_data['compound'] = ''
stock_data['negative'] = ''
stock_data['neutral'] = ''
stock_data['positive'] = ''
stock_data.head()

,Close,Open,High,Low,Volume,headline_text,compound,negative,neutral,positive
2001-01-02,4018.879883,3953.219971,4028.570068,3929.370117,0.0,Status quo will not be disturbed at Ayodhya; s...,,,,
2001-01-03,4060.020020,3977.580078,4067.659912,3977.580078,0.0,"Powerless north India gropes in the dark,Think...",,,,
2001-01-04,4115.370117,4180.970215,4180.970215,4109.549805,0.0,The string that pulled Stephen Hawking to Indi...,,,,
2001-01-05,4183.729980,4116.339844,4195.009766,4115.350098,0.0,Light combat craft takes India into club class...,,,,
2001-01-08,4120.430176,4164.759766,4206.720215,4101.529785,0.0,"Sangh Parivar; Babri panel up the ante,Frontru...",,,,

### Importing Libraries to perfrom Sentiment Analysis
Lets import the following libraries that are required for the task:

<ul>
    <li> <b>nltk</b> </li>
    <li> <b>SentimentIntensityAnalyzer</b> from <b>nltk.sentiment.vader</b> </li>
</ul>

Also let's download <b>vader_lexicon</b>

In [14]:
import nltk
nltk.download('vader_lexicon')
# from nltk.classify import NaiveBayesClassifier
# from nltk.corpus import subjectivity
# from nltk.sentiment import SentimentAnalyzer
# from nltk.sentiment.util import *

from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [15]:
sid = SentimentIntensityAnalyzer()
print('Start calculating sentiment scores:')

stock_data['compound'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['compound'])
print('Compound Done')
stock_data['negative'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['neg'])
print('Negative Done')
stock_data['neutral'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['neu'])
print('Neutral Done')
stock_data['positive'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['pos'])
print('Positive Done')
print('Stop')

stock_data.head()

Start calculating sentiment scores:

KeyboardInterrupt:

<ul>
    <li>Dropping unwanted <b>headline_text</b> and rearranging columns</li>
    <li>Displaying final <b>stock_data<b></li>
</ul>

In [ ]:
stock_data.drop(['headline_text'], inplace=True, axis=1)
stock_data = stock_data[['Close', 'compound', 'negative', 'neutral', 'positive', 'Open', 'High', 'Low', 'Volume']]

stock_data.head()

### Feature engineering of the Combined Data

<ul>
    <li>Using <b>dataframe.isna().any()</b> to checking <b>stock_data</b> for any null values</li>
    <li>Using <b>dataframe.describe()</b> to view some basic statistical details like percentile, mean, std etc. of <b>stock_data</b></li>
    <li>Using <b>dataframe.info()</b> to get a concise summary of <b>stock_data</b></li>
</ul>

In [ ]:
stock_data.isna().any()

In [ ]:
stock_data.describe(include='all')

In [ ]:
stock_data.info()

## Stock Data Analysis

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(15,10))

stock_data['Close'].plot()


plt.title("Close Price")
plt.xlabel('Date')
plt.ylabel('Close Price (INR)')

Calculating 7 day rolling mean

In [ ]:
stock_data.rolling(7).mean().head(20)

In [ ]:
# setting figure size
plt.figure(figsize=(15,10))

# plotting the close price and a 30-day rolling mean of close price
stock_data['Close'].plot()
stock_data.rolling(window=30).mean()['Close'].plot()

## Preparing Data For Modelling

In [ ]:
# calculating data_to_use
percentage_of_data = 1.0
data_to_use = int(percentage_of_data*(len(stock_data)-1))

# using 80% of data for training
train_end = int(data_to_use*0.8)
total_data = len(stock_data)
start = total_data - data_to_use

# printing number of records in the training and test datasets
print("Number of records in Training Data:", train_end)
print("Number of records in Test Data:", total_data - train_end)

In [ ]:
# predicting one step ahead
steps_to_predict = 1


close_price = stock_data.iloc[start:total_data,0] #close
compound = stock_data.iloc[start:total_data,1] #compound
negative = stock_data.iloc[start:total_data,2] #neg
neutral = stock_data.iloc[start:total_data,3] #neu
positive = stock_data.iloc[start:total_data,4] #pos
open_price = stock_data.iloc[start:total_data,5] #open
high = stock_data.iloc[start:total_data,6] #high
low = stock_data.iloc[start:total_data,7] #low
volume = stock_data.iloc[start:total_data,8] #volume

# printing close price
print("Close Price:")
close_price

In [ ]:
# shifting next day close
close_price_shifted = close_price.shift(-1) 

# shifting next day compound
compound_shifted = compound.shift(-1) 

# concatenating the captured training data into a dataframe
data = pd.concat([close_price, close_price_shifted, compound, compound_shifted, volume, open_price, high, low], axis=1)

# setting column names of the revised stock data
data.columns = ['close_price', 'close_price_shifted', 'compound', 'compound_shifted','volume', 'open_price', 'high', 'low']

# dropping nulls
data = data.dropna()    
data.head(10)

In [ ]:
#close price shifted set as the target var
y = data['close_price_shifted']
y

In [ ]:
# setting the features dataset for prediction  
cols = ['close_price', 'compound', 'compound_shifted', 'volume', 'open_price', 'high', 'low']
x = data[cols]
x

### Importing Libraries to Scale the data
Lets import the following library that is required for the task:

<ul>
    <li> <b>MinMaxScaler</b> from <b>sklearn.preprocessing</b> </li>
</ul>

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# scaling the feature dataset
scaler_x = MinMaxScaler(feature_range=(-1, 1))
x = np.array(x).reshape((len(x) ,len(cols)))
x = scaler_x.fit_transform(x)

# scaling the target variable
scaler_y = MinMaxScaler(feature_range=(-1, 1))
y = np.array (y).reshape ((len( y), 1))
y = scaler_y.fit_transform (y)

# displaying the scaled feature dataset and the target variable
x, y

## Dividing data for training and test datasets

In [ ]:
# preparing training and test dataset
X_train = x[0 : train_end,]
X_test = x[train_end+1 : len(x),]    
y_train = y[0 : train_end] 
y_test = y[train_end+1 : len(y)]  

# printing the shape of the training and the test datasets
print('Number of rows and columns in Training set X:', X_train.shape, 'and y:', y_train.shape)
print('Number of rows and columns in Test set X:', X_test.shape, 'and y:', y_test.shape)

In [ ]:
#reshaping dataset
X_train = X_train.reshape(X_train.shape+(1,))
X_test = X_test.reshape(X_test.shape+(1,))


print('Shape of Training set X:', X_train.shape)
print('Shape of Test set X:', X_test.shape)

## Creating the Sequential Model

### Importing Libraries to Create Sequential Model
Lets import the following libraries that are required for the task:

<ul>
    <li> <b>Sequential</b> from <b>keras.models</b> </li>
    <li> <b>Dense, LSTM, Dropout, Dense, Activation</b> from <b>keras.layers</b> </li>
</ul>

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, Dense, Activation

In [ ]:
# seed set to achieve consistent and less random predictions
np.random.seed(2016)

# setting the architecture for the data model
model=Sequential()
model.add(LSTM(100,return_sequences=True,activation='tanh',input_shape=(len(cols),1)))
model.add(Dropout(0.1))
model.add(LSTM(100,return_sequences=True,activation='tanh'))
model.add(Dropout(0.1))
model.add(LSTM(100,activation='tanh'))
model.add(Dropout(0.1))
model.add(Dense(1))

# printing the model summary
model.summary()

In [ ]:
model.compile(loss='mse' , optimizer='adam')

# fitting the model using the training dataset
model.fit(X_train, y_train, validation_split=0.2, batch_size=8, epochs=10, verbose=1)

In [ ]:
model_json = model.to_json()
with open('model.json', 'w') as json_file:
    json_file.write(model_json)
    
model.save_weights('model.h5')
print('Model is saved to the disk')

## Performing Predictions

In [ ]:
predictions = model.predict(X_test)

predictions = scaler_y.inverse_transform(np.array(predictions).reshape((len(predictions),1)))

print('Predictions:')
predictions[0:5]

## Evaluating The Model

### Importing Libraries to Evaluate The Model
Lets import the following library that is required for the task:

<ul>
    <li> <b>metrics</b> from <b>sklearn</b> </li>
</ul>

In [ ]:
from sklearn import metrics

### Evaluating Model using various Metrics

<ul>
    <li><b>Train Loss</b> and <b>Test Loss</b></li>
</ul>

In [ ]:
# calculating the training mX_trainsquared-error
train_loss = model.evaluate(X_train, y_train, batch_size = 1)
# calculating the test mean-squared-error

test_loss = model.evaluate(X_test, y_test, batch_size = 1)
# printing the training and the test mean-squared-errors
print('Train Loss =', round(train_loss, 4) )
print ('Test Loss =', round(test_loss, 4) )

<ul>
    <li>Root Mean Square Error </li>
</ul>

In [ ]:
# calculating root mean squared error
root_mean_square_error = np.sqrt(np.mean(np.power((y_test- predictions) , 2) ) )
print ('Root Mean Square Error:', round(root_mean_square_error, 4) )

<ul>
    <li>Root Mean Square Error (sklearn.metrics)</li>
</ul>

In [ ]:
# calculating root mean squared error using sklearn.metrics package
rmse = metrics.mean_squared_error(y_test, predictions)
print('Root Mean Square Error (sklearn.metrics):', round(np.sqrt(rmse) , 4))

<ul>
    <li>Unscaling the test feature dataset: <b>x_test</b> and test y dataset: <b>y_test</b></li>
</ul>

In [ ]:
x_test = scaler_x.inverse_transform(np.array(X_test).reshape((len(X_test), len(cols))))

y_train = scaler_y.inverse_transform(np.array(y_train).reshape((len(y_train) , 1)))

y_test = scaler_y.inverse_transform(np.array(y_test).reshape((len(y_test), 1)))

## Plotting the Predicted data against Test data

In [ ]:
plt.figure(figsize=(17, 10))

plt.plot(predictions, label="Predicted Close price")
plt.plot([row[0] for row in y_test], label = "Testing Close Price")
plt.legend(loc='upper center', bbox_to_anchor=(0.5, -0.05), fancybox=True, shadow=True, ncol=2, prop={'size': 20})
plt.show()